body {
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Mulish', sans-serif !important;
  direction: rtl;
  /* color: #4D774E; */

}

.contact-us {
  /* position: fixed; */
}

.contact-us>a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.contact-us>a:hover {
  /* color: #9DC88D; */
  /* color: #3FD2C7; */
  color: #000;
}

.haeder-img-and-text {
  background-image: url('../public/img-header.jpeg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color:#4D774E ; */
  background-color: #ffffffa1;

  background-blend-mode: screen;
  /* padding-top: 80px; */
}

.container-img-slider{
  height: 500px
}
.recommend-box{
  height: 220px;
}

@media only screen and (max-width: 700px) {
  .container-img-slider{
    height: 400px
  }
  .haeder-img-and-text {
    height: 380px;
  }
  .recommend-box{
    height: 200px;
  }
  .recommend3{
    height: 270px;
  }
}

.containerSlide {
  width: 650px;
  margin: auto;
  padding-top: 200px;
}

.containerSlide img {
  height: 400px;

}

.title-accordion,
.css-i4bv87-MuiSvgIcon-root,
.css-vubbuv {
  font-weight: bold !important;
  color: #fff;

}

.summary-header {
  margin-top: 5px !important;
}
.summary-header:hover{
  background-color: #00458be6;
}
.row-title-header {
  text-align: right;
  font-size: large;
}

.slide-1 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.27.25 PM.jpeg');

}

.slide-2 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.29.02 PM.jpeg');

}

.slide-3 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.28.27 PM.jpeg');

}

.slide-4 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.29.57 PM.jpeg');

}

.slide-5 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.32.46 PM.jpeg');

}

.slide-6 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.33.06 PM.jpeg');

}

.slide-7 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.35.07 PM.jpeg');
}
.slide-8 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.41.16 PM.jpeg');
}
.slide-9 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.41.38 PM.jpeg');
}
.slide-10 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.43.41 PM.jpeg');
}
.slide-11 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.45.13 PM.jpeg');
}
.slide-12 {
  background-image: url('./images/WhatsApp Image 2023-04-13 at 6.41.16 PM-2.jpeg');
}
@media only screen and (max-width: 700px) {
  .slide-show {
    width: 90%;
  }

  .question {
    width: 75%;
  }

  .haeder-img-and-text {
    padding-bottom: 20px;
    padding-top: 60px;
  }
  .text-header-page{
    margin-top: 20px;
    display: flex;
    text-align: right ;
    flex-direction: column;
  }
  .title-header-page{
    font-size: 42px;
    line-height: 1.2;
  }
  .row-title-header{
    font-size: 20px;
    line-height: 0.9;
  }
}

@media only screen and (min-width: 700px) {
  .slide-show {
    width: 50%;
  }

  .question {
    width: 70%;
  }
  .haeder-img-and-text {
    padding-top: 80px;
  }
  .text-header-page{
    width: 50%;
  }
  .title-header-page{
    font-size: 60px;
    line-height: 1.4;
  }
  .row-title-header{
    font-size: 28px;
    line-height: 1.2;
  }
}

.bold {
  font-weight: bold !important;
}

.title-and-icon {}
.recommend1{
  background-image: url('./images/recommend1.jpeg');
}
.recommend2{
  background-image: url('./images/recommend2.jpeg');
}
.recommend3{
  background-image: url('./images/recommend3.jpeg');
}



* {
  box-sizing: border-box;
}

.wrapper {
  display        : flex;
  justify-content: space-around;
  align-items    : baseline;
  display: inline;
}
.wrapper>section{
  display: inline;
}
.box {
  display: inline-block;
}

.letter {
  text-align : center;
  margin     : 0;
  line-height: 0.55;
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -10px, 0);
  }
}

.bounce {
  animation                : bounce 0.9s;
  animation-iteration-count: infinite;
  animation-direction      : alternate;
}

@keyframes color-change {
  from {
      color: #ff8a00;
  }

  to {
      color: #0075ff;
  }
}

.color-change {
  color    : #ff8a00;
  animation: color-change 2s infinite alternate;
}

@keyframes appear {
  0% {
      font-size: 0;
      opacity  : 0;
  }

  50% {
      font-size: 4em;
  }

  100% {
      opacity: 1;
  }
}

.appear {
  animation: appear 3s alternate infinite;
}

@keyframes rotate {
  from {
      opacity  : 0;
      transform: rotate(60deg)
  }

  to {
      transform: rotate(0deg)
  }

  100% {
      opacity: 1;
  }
}

.rotate {
  animation: rotate 3s infinite;
}