body {
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Mulish', sans-serif !important;
  direction: rtl;
  /* color: #4D774E; */

}

.contact-us {
  /* position: fixed; */
}

.contact-us>a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.contact-us>a:hover {
  /* color: #9DC88D; */
  color: #3FD2C7;


}

.haeder-img-and-text {
  background-image: url('../public/img-header.jpeg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color:#4D774E ; */
  background-color: teal;

  background-blend-mode: screen;
  /* padding-top: 80px; */
}

header {
  /* position: fixed !important; */
}

@media only screen and (max-width: 600px) {
  .haeder-img-and-text {
    height: 300px;
  }
}

.containerSlide {
  width: 650px;
  margin: auto;
  padding-top: 200px;
}

.containerSlide img {
  height: 400px;

}

.title-accordion,
.css-i4bv87-MuiSvgIcon-root,
.css-vubbuv {
  font-weight: bold !important;
  color: #fff;

}

.summary-header {
  margin-top: 5px !important;
}

.row-title-header {
  text-align: right;
  font-size: large;
}

.slide-1 {
  background-image: url('./images/chailde.jpeg');

}

.slide-2 {
  background-image: url('./images/chailde1.jpeg');

}

.slide-3 {
  background-image: url('./images/chailde2.jpeg');

}

.slide-4 {
  background-image: url('./images/chailde3.jpeg');

}

.slide-5 {
  background-image: url('./images/chailde4.jpeg');

}

.slide-6 {
  background-image: url('./images/chailde5.jpeg');

}

.slide-7 {
  background-image: url('./images/chailde6.jpeg');

}

@media only screen and (max-width: 600px) {
  .slide-show {
    width: 90%;
  }

  .question {
    width: 75%;
  }

  .haeder-img-and-text {
    padding-bottom: 20px;
    padding-top: 60px;
  }
}

@media only screen and (min-width: 600px) {
  .slide-show {
    width: 50%;
  }

  .question {
    width: 70%;
  }
  .haeder-img-and-text {
    padding-top: 80px;
  }
}

.bold {
  font-weight: bold !important;
}

.title-and-icon {}